<head>
  <title>Traditional game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
  
  <body>
    <div class= "navigation">
      <ul>
        <a class= "nav-link"> Logo</a>
        <a class= "nav-link"> Home</a>
        <a class= "nav-link"> Work</a>
        <a class= "nav-link"> Contact</a>
        <a class= "nav-link"> About Me</a>
        <a class= "nav-link"> Sign Up</a>
        <a class= "nav-link"> Log In</a>
        </ul>
      </div>
    
    <div class= "banner">
      <div class= "banner-text">
        <h1><strong>PLAY TRADITIONAL GAME</strong> </h1>
        <h2> Experience new traditional game play </h2>
        <a href = "rsp_game.html" class= "btn"> PLAY NOW </a>
        </div>
      </div>
    
    <div class= "game-choice">
      <div class = "game-text">
        <p>What's so special?</p>
        <h1>The Games</h1>
      </div>
      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class = "center-block" src="assets/rockpaperstrategy-1600.jpg" style="width:80%;">
          </div>
    
          <div class="item">
            <img class = "center-block" src="assets/rockpaperstrategy-1600.jpg" style="width:80%;">
          </div>
        
          <div class="item">
            <img class = "center-block" src="assets/rockpaperstrategy-1600.jpg" style="width:80%;">
          </div>
        </div>
    
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class = "feature">
      <div class = "empty"></div>
      <div class = "title-feature">
        <p> What's so special </p>
        <h2>FEATURES</h2>
        <ul class="list-features">
          <li> Traditional Games
            <p>If you miss your childhood, we provide many traditional games here</p>
          </li>
          <li> Game Suit</li>
          <li> TBD </li>
        </ul>
      </div>
    </div>

    <div class= "system-rq">
      <h3 class = "rq-text">SYSTEM REQUIREMENTS</h2>
      <h4 class = "rq-text-2">Can my computer run this game?</h3>
      <div class = "table-rq">
        <table class="table table-bordered">
          
          <tbody>
            <tr>
              <td>
                <h3> OS: </h3>
                <p>Windows 7 64-bit only</p>
                <p>(No OSX support at this time)</p>
              </td>
                
              <td>
                <h3> PROCESSOR: </h3>
                <p>Intel Core 2 Duo @2.4 GHZ or</p>
                <p>AMD Athlon X2 @2.8 GHZ</p>
              </td>
              
            </tr>
            <tr>
              <td>
                <h3> MEMORY: </h3>
                <p>4 GB RAM</p>
              </td>
              <td>
                <h3> STORAGE: </h3>
                <p>8 GB available space</p>
              </td>
              
            </tr>
            <tr>
          
              <td colspan="2">
                <h3> GRAPHICS: </h3>
                <p>NVIDIA GeForce GTX 660 2GB or</p>
                <p>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class = "top-scores">
      <div class = "topScore-text">
        <h2>TOP SCORES</h2>
        <h3>These top scores from varios games provided</h3>
        <h3>on this platform</h3>
        <a href = "#" class= "btn"> See More </a>
      </div>
      <div class = top-players>
        <div class="rectangle1">
          <img class = "evan" src = "assets/evan-lahti.jpg">
          <div class = "player-name">
            <h3>Evan Lahti</h3>
            <p>PC Gamer</p>
          </div>
          <div class = "score-text">
            <p>"One of my gaming highlights of the year"</p>
            <p class = "date"> October 18, 2018</p>
          </div>
        </div>
        

        <div class="rectangle2">
          <img class = "jada" src = "assets/jada-griffin.jpg">
          <div class = "player-name">
            <h3>Jada Griffin</h3>
            <p>Nerdreactor</p>
          </div>

          <div class = "score-text">
            <p>"The next big thing in the world of streaming and survival games."</p>
            <p class = "date"> December 21, 2018</p>
          </div>
        </div>

        <div class="rectangle3">
          <img class = "aaron" src = "assets/aaron-williams.jpg">
          <div class = "player-name">
            <h3>Aaron Williams</h3>
            <p>Uproxx</p>
          </div>

          <div class = "score-text">
            <p>"Snoop Dogg Playing the wildly enternatining 'SOS' is ridiculous."</p>
            <p class = "date"> December 24, 2018</p>
          </div>
        </div>
        
      </div>
    </div>

    <div class = "newsletter">
      <div class = "image-news">
        <img class = "skull" src = "assets/skull.png">
      </div>

      <div class = "news-text">
        <h3>Want to stay in touch?</h3>
        <h2>Newletter Subscribe</h2>
        <p>You can start subscribing to this newsletter</p>
        <p>if you want to get news about us.</p>
        <input type="text" id="email" name="email" placeholder="Type your e-mail here">
        <a href = "#" class= "btn-news"> Subscribe </a>
      </div>
    </div>

    <footer>
      <div class = "copyright">
        &copy 2019 Your Games, inc. All Rights Reserved
      </div>

      <ul class = "right-footer">
        <a class= "nav-link"> Privacy Policy</a>
        <a class= "nav-link"> Terms of Services</a>
        <a class= "nav-link"> Code of Conduct</a>
        </ul>
    </footer>

    
    
  