html, body{
  background-color: #000000;
  margin: 0px;
  padding:0px;
  height:100%;
}
.navigation{
  box-sizing: border-box;
  background-color: rgba(62, 61, 61, 0.552);
  left: 0px;
  overflow-y: auto;
  padding:30px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 999;
}
ul{
  margin: 0px;
  padding: 0px;
}
.navigation a{
  color: #ffffff;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 10px 40px;
  text-transform: uppercase;
}
.banner{
  background-image: url('/assets/main-bg.jpg');
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #dddddd;
  height: 1000px;
  text-align: center;
  top: 100px;
  width: 100%;
}
.banner-text{
  position: relative;
  top: 200px;
  color: whitesmoke;
}
h1{
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

.game-choice{
  background-image: url('/assets/the-games-bg.jpg');
  
  color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.game-text{
  justify-self: end;
}

.feature{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url('/assets/features.jpg');
  color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  height: auto;
  width: 100%;
  font-family: 'Raleway',sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.title-feature{
  padding-left: 100px;
  padding-bottom: 600px;
  justify-self: center;
}


ul.list-features li {
  position:relative; 
  margin-bottom: 0; 
  padding-bottom: 2.5em;
}

ul.list-features li:after {
  content: '';
  position: absolute;
  left: -26px;
  top: 0px;
}

ul.list-features li:before {
  
  content:"";
  position: absolute;
  left: -10px;
  border-left: 1px solid whitesmoke;
  height: 100%;
  width: 1px;
}

ul.list-features li:first-child:before {
  top: 10px; 
}

ul.list-features li:last-child:before {
  height: 10px; 
}


.container{
  width: 100%;
  height: 100%;
  
}
.game-img{
  width: 50%;
  height: 40%;
  margin:auto;
}


.system-rq{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url('/assets/requirements.png');
  color: white;
  background-size: auto 90%;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  
}
.rq-text{
  margin-top: 150px;
  margin-left: 100px;
}

.rq-text-2{
  margin-top: 100px;
}
.table-rq{
  justify-content: start;
  padding-left: 100px;
  margin-top: -150px;
}

td{
  color: white;
}

td > h3{
  color: rgb(243, 179, 29);
}

.top-players{
  justify-self:center;
  
}
.topScore-text{
  color: whitesmoke;
  margin-left: 250px;
  margin-top: 100px;
}
.player-name{
  margin-left: 10px;
  margin-right: 10px;
}

.score-text{
  margin-top: 10px;
  color: #fec446;
  font-size: 1.2em;
}
.evan, .jada, .aaron{
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.rectangle1, .rectangle2, .rectangle3{
  width:500px;
  height:150px;
  background:rgba(62, 61, 61, 0.552);
  margin-top: 40px;
  display: flex;
  border-radius: 20px;
}

.date{
  color:#474747;
}
.top-scores{
  background-image: url('/assets/top-score-bg.png');
  color: whitesmoke;
  background-size: auto 90%;
  background-repeat: no-repeat;
  height: 1000px;
  text-align: start;
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  
}
.newsletter{
  background-image: url('/assets/newsletter.png');
  color: black;
  background-size: auto 90%;
  background-repeat: no-repeat;
  height: 1000px;
  text-align: start;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.news-text{
  color:whitesmoke;
  justify-content: start;
}
footer{
  padding: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  cursor: default;
  text-decoration-line: none;
}

a {
  color: #fec446;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  color: blueviolet;
}

.btn {
  background-color: #fec446;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-news {
  background-color: #fec446;
  border-radius: 1px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: #f0750f;
  transition: color .1s ease-in, background-color .1s ease-in;
}
.btn:active {
  font-size: 18px;
  transition: font-size .1s ease-in-out;
}